.page-header {
  background-color: white;
  border: solid rgba(0, 0, 0, 0.25) 1px;
  border-top: none;
  font-size: 0.8em;
  height: 50px;

  position: fixed;
  top: 0;
  z-index: 999;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 85%;

  padding: 10px 5px;

  .page-header-links, .page-header-title, .page-header-settings {
    //float: left;
  }

  .page-header-links {
    width: 30%;
  }

  .page-header-title {
    width: 40%;
    text-align: center;
  }

  .page-header-settings {
    width: 30%;
    text-align: right;
  }
}

.page-header-list {
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    button {
      border: solid 1px grey;
      padding: 8px;
    }
  }
}